name: Validate

on:
  workflow_dispatch:
  push:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: stable # https://golang.org/dl/
      - name: Checkout
        uses: actions/checkout@v6
      - name: Hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          ignore: DL3029 # build amd64 image
      - name: Go Mod Tidy
        run: test -z $(go mod tidy)
      - name: Lint
        uses: golangci/golangci-lint-action@v9.2.0
      - name: Test
        run: make test
